@import "src/index";
.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-right-margin {
    border-right: 1px solid $color-2;
    border-left: 1px solid $color-2;
}

.fix-flex {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

<<<<<<< HEAD
.shadow-bottom {
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.32);
}

@media (min-width: 350px) {
    .contents {
        background-color: white;
    }
}

@media screen and (min-width: 280px) and (max-width: 500px) {
    .text-size-responsive {
        font-size: 4vw;
        margin: auto;
        padding: 0.2rem;
=======
.feature {
    font-size: 26px;
    font-weight: 450;
}

.shadow-bottom {
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.32);
}

@media (min-width:350px) {
    .contents {
        background-color: white;
>>>>>>> a354a02c94a034fd545037f22bc709e96d1a00e4
    }
}