.g-signin{
    float: none !important;;
    position: static !important;;
    display: block !important;;
    margin-left: auto !important;;
    width: auto !important;;
    align-content: center!important;
    
  }
  
  
  