.landing {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: white;
}

.collab {
    width: 50%;
    background-color: #c33427;
}

.work_at_mec {
    width: 50%;
}

.centered {
    border: 3px solid black;
    border-radius: 0.8vw;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 2vh;
    padding-bottom: 10vh;
    position: relative;
    top: 40vh;
    text-align: center;
}

.btn {
  border: 2px solid black;
  border-radius: 0.8vw;
  background-color: white;
  color: black;
  padding: 0.5vw 2vw;
  font-size: 25px;
  cursor: pointer;
}

.footer {
    background-color: white;
}