.auto{
    display:block;
    border: 1px solid black;
    border-radius: 30px;
    padding:5px;
    margin:50px;
    
    width:300px;
    height:80%;
    
   

 }

 .scrollbar{
    margin-top: 10px;
    margin-bottom: 10px;
     margin-right: 10px;
     overflow-y: scroll;
     height: 95%;
 }




  .content{
    display:block;
    height: auto;
    color: brown;
    font-family:monospace;

  }

  .post-item {
outline: 1px solid transparent;
padding: 20px 20px;
border: 5px solid transparent;
border-radius: 15px;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}
.post-item:hover {
outline: 0px solid transparent;
padding: 20px 20px;
border: 5px solid brown;
border-radius: 15px;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

#style-6::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color:silver;
border-radius: 10px;
height: 80%;

}

#style-6::-webkit-scrollbar
{
width: 10px;

background-color: #F5F5F5;

}

#style-6::-webkit-scrollbar-thumb
{  border-radius: 10px;
background-color: #F90;	
background-image: -webkit-linear-gradient(45deg,
                                    rgba(255, 255, 255, .2) 25%,
                transparent 25%,
                transparent 50%,
                rgba(255, 255, 255, .2) 50%,
                rgba(255, 255, 255, .2) 75%,
                transparent 75%,
                transparent)
}




  
  