body{
  background-color: tomato;
}
#wrapper{
  background-color: white;
  box-sizing: border-box;
  border-radius: 30px;
  margin: 20px;
  padding: 20px;
  width:95%;
  height:95%;
}


.auto{
  box-sizing: content-box;
  height: 600px;
  width: 300px;
  border-color: black;
 
}





.content{
  display:block;
  height: auto;
  color: brown;
  font-family:monospace;

}

.post-item {
outline: 1px solid transparent;
padding: 20px 20px;
border: 5px solid transparent;

-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}
.post-item:hover {
outline: 0px solid transparent;
padding: 10px 10px;
border-left: 10px solid brown;
border-bottom: 2px solid brown; ;
border-top: 2px solid brown;
border-right:2px solid brown ;


-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

#profile-box{

}
 
.row.heading h2 {
  color:tomato;
  font-size: 30px;
  margin-top: 0px;
  font-weight: 30%;
  text-align:left;
  margin-left: 30px;
  text-transform: uppercase;
}
ul{
margin:0;
padding:0;
list-style:none;
}
.heading.heading-icon {
  display: block;
}
.padding-lg {
display: block;

}



.our-webcoderskull .cnt-block figure{
 width:100px; 
 height:100px; 
 border-radius:100%; 
 border-color: black;
 border-style: solid;
 display:inline-block;
 margin:20px;
}
.our-webcoderskull .cnt-block img{ 
 width:100px; 
 height:100px; 
 border-radius:100%; 
 border-color: black;  
 

}
.our-webcoderskull .cnt-block h3{ 
 color:#2a2a2a; 
 font-size:20px; 
 font-weight:500; 
 padding:6px 0;
 text-transform:uppercase;
}

.our-webcoderskull .cnt-block p{ 
 color:#2a2a2a; 
 font-size:13px; 
 line-height:20px; 
 font-weight:400;
}

.vl {
  border-left: 6px solid tomato;
  height: 630px;
  position:absolute;
  left:30%;
  top: 80px;
 
}


.desc h3{
  color: tomato;
  margin-left: 30px;
  margin-top: 10px;
}

.desc p{
  margin-left: 30px;
}

.desc h5{
  margin-left: 30px;
}  
  