.team__data_page_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    gap: 3rem;
    width: 100%;
    align-items: center;
}
.tech_team_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.design_team_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team__title{
    color: #9e0000;
    font-size: 3rem;
}
.team__member_image{
    border:3px solid  #9e0000;
    border-radius:50%;
    height: 9rem;
    object-fit: cover;
    width: 9rem;
}
.team__member_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team__member_card p{
    padding-top: 7%;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #9e0000;
}
.members__div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}