.animation_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 40px;
  position: relative;
}

.anime {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  z-index: 1;
  width: 60%;
}

.bubble_8 {
  z-index: -1;
  pointer-events: none;
  position: absolute;
  //position: relative;
  bottom: -10px;
  width: 95%;
  //transform: scale(0.75);
}

.signin_btn {
  background-color: #9e0000;
  color: white;
  height: 68px;
  width: 30%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 19px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 18px;
  position: absolute;
  bottom: -30px;
  cursor: pointer;
  z-index: 2;
}
.signin_btn_1 {
  display: none;
  background-color: #9e0000;
  color: white;
  height: 50px;
  width: 400px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 11px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 18px;
  position: absolute;
  bottom: -25px;
  cursor: pointer;
  z-index: 2;
}

.iedc_logo {
  top: 10%;
  left: 38%;
  position: absolute;
  z-index: 2;
}

@media (max-width: 1065px) {
  .signin_btn_1 {
    display: block;
  }
  .signin_btn {
    display: none;
  }
  .anime {
    width: 80%;
  }
}
@media (max-width: 560px) {
  .signin_btn_1 {
    width: 300px;
    font-size: 16px;
  }
  .animation_main {
    padding-top: 30px;
  }
}
@media (max-width: 475px) {
  .signin_btn_1 {
    width: 260px;
    height: 40px;
    padding: 8px;
    bottom: -30px;
  }
  .animation_main {
    padding-top: 30px;
  }
}
@media (max-width: 1310px) {
  .iedc_logo {
    top:8%;
left:35%;
  }
}
@media (max-width: 1200px) {
  .iedc_logo {
    transform: scale(0.8);
  }
}
@media (max-width: 790px) {
  .iedc_logo {
    transform: scale(0.6);
    left:30%;
  }
}
@media (max-width: 700px) {
  .iedc_logo {
    display: none;
  }
}