.animation_main {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 0%;
  padding-top: 3%;
  position:relative;
  width: 100%;
}

.anime{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 0%;
  padding-top: 0%;
  position:relative;
  width:45%;
}




  
  

