.join-team-modal {
  position: absolute;
  height: 90vh;

  .bubble_9 {
    position: absolute;
    top: 0;
    left: 0;
  }
.join-team-modal__title{
  font-size: 2rem;
}
  .bubble_10 {
    position: absolute;
    top: 0;
    left: 0;
  }

  .bubble_11 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }

  .rectangle-decoration {
    position: absolute;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }

  .rectangle {
    height: 9.6px;
    width: 9.6px;
    background-color: #EACCCC;
  }

  .top-rectangles {
    top: 0;
    right: 20%;
  }

  .bottom-rectangles {
    bottom: 0;
    left: 10%;
  }

  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    cursor: pointer;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px;

    h1 {
      color: #9E0000;
      text-align: center;
      font-size: 45px;
      font-weight: 700;
    }

    .message {
      position: relative;
      width: 80%;

      .message__label {
        font-weight: 700;
        font-size: 31px;
        color: #9E0000;
        position: absolute;
        top: -31px;
        left: 30px;
        background: white;
        padding-inline: 10px;
      }

      #message__text {
        border: 1px solid #9E0000;
        border-radius: 10px;
        background-color: inherit;
        width: 100%;
        height: 225px;
        padding: 20px;
        color: #9E0000;
        font-size: 25px;
        font-weight: 300;
      }
    }

    .btn {
      align-self: flex-end;
      @media screen and (max-width: 992px) {
        align-self: center;
      }
      margin: 20px 60px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      background: #9E0000;
      color: white;

      p {
        transform: translateY(8px);
      }

      img {
        height: 60%;
      }
    }
  }

}
@media (min-device-width: 20px) and (max-device-width: 500px) {
 
.join-team-modal .close-button{
  right: 7px;
}
}