.received_sent_box {
  display: flex;
  flex-direction: column;
  border: 1px solid #9e0000;
  row-gap: 0.5rem;
  border-radius: 0px 10px 10px 10px;
  padding: 0.5rem;
  /* height: 10rem; */
  width: 35rem;
}
.received_bpx_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.received_bpx_header_para {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;

  color: #9e0000;
}
.received_bpx_header_para_1 {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;

  color: #ff1313;
}
.received_bpx_header_para_2 {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;

  color: #009e61;
}
.received_bpx_header_para_3
{
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;

  color: #cf9d12;
}
.req_profile_box {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
}
.req_profile_details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.5rem;
  font-family: "Nunito";
  font-style: normal;
}
.req_profile_img {
  width: 40px;
  height: 40px;

  border: 2px solid #780101;
  border-radius: 50%;
}
.req_profile_details_h4 {
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;

  color: #9e0000;
}

.req_profile_details_p {
  font-weight: 200;
  font-size: 18px;
  line-height: 20px;
  width: 20rem;
  /* ::-webkit-scrollbar: { display: "none" }; */
  height: 4rem;
  overflow-y: scroll;
  color: #9e0000;
}

.received_btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 0.5rem;
}
.received_btn_decline {
  width: 9rem;
  height: 3rem;
  background: #ffffff;
  border: 2px solid #9e0000;
  border-radius: 25px;
  color: #9e0000;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.received_btn_accept {
  width: 9rem;
  height: 3rem;
  background: linear-gradient(90deg, #ff512f 0%, #dd2476 100%);
  border: 1px solid #9e0000;
  border-radius: 25px;
  color: #ffffff;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.view_project_btn {
  width: 170px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 29px;
  cursor: pointer;
  color: #9e0000;
  background: #f8d0d0;
  border: 2px solid #f8d0d0;
  border-radius: 10px;
}
@media (max-width: 1254px) {
  .received_sent_box {
    width: 570px;
  }
}
@media (max-width: 1020px) {
  .received_sent_box {
    width: 400px;
  }
}
@media (max-width: 800px) {
  .received_sent_box {
    width: 85vw;
  }
  .received_bpx_header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}