.mission_main {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  align-items: flex-end;
  margin-top: 3%;
}

.paragraph_mission {
  margin-top: 1%;
    background-color: #9E0000;
    width: 55%;
    line-height: 29px;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    border-radius: 15px;
    padding: 2%;
}
.heading_mission {
  color: #9e0000;
  font-size: 31px;
  font-weight: 900;
}
.bubble_2 {
  position: absolute;
  bottom: 2%;
  left: 0;
  height:300px;
  pointer-events: none;
}