.developer-title {
  text-align: center;
  margin-top: 2rem;
  color: #9e0000;
}

#developer-details {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media screen and (max-width: 1199px) {
    grid-template-columns: 1fr;
  }
  grid-row-gap: 1rem;

  // Offset to compensate for profile picture
  transform: translateX(5vw);

  .developer-card {
    height: 5rem;
    border: 1px solid white;
    border-radius: 0.5rem;
    width: 28rem;
    @media screen and (max-width: 1199px) {
      width: 100%;
      max-width: 90vw;
    }
    background-color: #9E0000;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    &-name {
      color: white;
      font-size: 2rem;
      padding-top: 1rem;
      white-space: nowrap;
    }

    &-email {
      color: white;
    }

    &-image {
      height: 5.2rem;
      width: 5.2rem;
      border-radius: 50%;
      border: 1px solid #780101;
      transform: translateX(-50%);
    }
  }
}