body {
  background-color: white !important;
  --primaryColor: #9e0000;
  --secondaryColor: #fff;
  overflow: hidden;
}

.nav-item {
  cursor: pointer;
}

// h4 {
//   background-color: var(--primaryColor);
// }
