.vision_main
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10%;
    margin-top: 1%;

}

.paragraph_vision{
    margin-top: 1%;
    background-color: #9E0000;
    width: 55%;
    line-height: 29px;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    border-radius: 15px;
    padding: 2%;
}
.heading_vision
{
    color: #9E0000;
    font-size: 31px;
    font-weight: 900;
}

.bubble_1 {
    position: absolute;
    top: 2%;
    right: 0;
    height:300px;
    pointer-events: none;
  }