.project-container{
  background-color: white;
  height: 90vh;
  margin-top: 1vw;
  width: 98vw;
  border-radius: 0.5em;
  color: #880e4f;
}

.shadow-right{
  padding-right: 10px;
  box-shadow: 2px 0 5px -2px rgba(0,0,0,0.32);
}



